<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- 共通ヘッダ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <title>MyBook📚</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
      <!-- navbar section -->
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h2 class="text-white p-1">MyBook📚</h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Current Reads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Completed Reads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Upcoming Reads</a>
              </li>
            </ul>
            <form class="d-flex me-3" role="search" method="post" action="/search">
              <input class="form-control me-2" type="search" placeholder="Title or ISBN.." aria-label="Search" name="searchTerm">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav me-autonavbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- hero section -->
      <div class="hero">
        <div class="row">
          <div class="container">
            {% block hero %}
            {% endblock %}
          </div>
        </div>
      </div>
    </body>
</html>